h1{
  text-align: center;
}
header{
  width: 100vw;
  height: 10vh;
  background-color: white;
  text-align: center;
  align-content: center;
}

main {
  background-color: blue;  
  display: flex;  
  /* flex-direction: column;  */
  flex-wrap: wrap; 
  gap: 5px;
  /* grid-template-columns: 1fr 3fr 1fr;   */
  justify-content: space-around;
}

.div1 {
  background-color: green;
  width: 32vw;
  height: 80vh;
  order: 1;
  /* flex-direction: column;  */
  text-align: start;
}

.div2 {
  background-color: red;
  width: 32vw;
  height: 87vh; 
  order: 2;
}

.div3 {
  background-color: yellow;
  width: 32vw;
  height: 87vh;
  order: 3;
}

footer{
  width: 100vw;
  height: 3vh;
  background-color: lightpink;
  text-align: center;
  align-content: center;
}
